<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/content/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
</head>

<body>
    <div class="main">
        <div class="display">
            <input class="form-control" id="input_html" type="text">
            <button class="dark_mode_btn"><i class="fa fa-moon-o" aria-hidden="true"></i></button>
            <p id="history"><i class="fa fa-history" aria-hidden="true"></i>&nbsp;History</p>

        </div>
        <div class="buttons"> <button id="clear">C</button> <button id="delete_single_num"><i class="fa fa-scissors" aria-hidden="true"></i></button> <button id="Normal_btn">/</button> <button id="Normal_btn">*</button> </div>
        <div class="buttons"> <button id="Normal_btn">7</button> <button id="Normal_btn">8</button> <button id="Normal_btn">9</button> <button id="Normal_btn">-</button> </div>
        <div class="buttons"> <button id="Normal_btn">4</button> <button id="Normal_btn">5</button> <button id="Normal_btn">6</button> <button id="Normal_btn">+</button> </div>
        <div class="buttons"> <button id="Normal_btn">1</button> <button id="Normal_btn">2</button> <button id="Normal_btn">3</button> <button id="Normal_btn">.</button> </div>
        <div class="buttons"> <button id="Normal_btn">0</button> <button id="Normal_btn">00</button> <button id="equalTo">JS solve</button> </div>
    </div>

    <script src="/static/scripts/script.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
</body>
</html>
